<h1>Create Account</h1>

<%= render 'form' %>

<%= link_to 'Inbox', {controller: :email, action: :index} %> | <%= link_to 'Account List', {action: :index} %> | <%= link_to 'Logout', {controller: :session, action: :logout} %> | <%= link_to 'Back', :back %>
