<p>
  <b>Subject:</b>
  <%= @email.subject %>
</p>

<p>
  <b>To:</b>
  <%= @email.to %>
</p>

<p>
  <b>From:</b>
  <%= @email.from %>
</p>

<p>
  <b>Date:</b>
  <%= @email.date %>
</p>

<p>
  <b>Text body:</b>
  <%= @email.text_body %>
</p>

<%= link_to 'Back', :back %>
